<footer id="footer">{{ text_footer }}<br/>{{ text_version }}</footer></div>
<script src="{{ bootstrap }}" type="text/javascript"></script>
<style type="text/css">
#column-left{width:152px}
#menu > li > a{font-size:11px;padding-left:10px}
#menu > li > a > i{font-size:15px;width:13px}
@media (min-width: 768px) {
#column-left + #content,#column-left + #content + #footer{left:0;margin-left:142px}
#header{min-height:0;background:#2d3743!important;border-bottom:1px solid #444c56;margin:0;padding:0;box-shadow:0 0 3px #22272d}
#header .navbar-header{border-right:1px solid #444c56}
#header .navbar-right > li{border-left:1px solid #444c56}
#header .nav > li > a{color:#adbac7}
#menu li li a{font-size:12px}
#menu li ul a{padding-left:0}
#menu li li ul a{padding-left:7px}
#menu li li li ul a{padding-left:15px}
#header-logo img{padding-top:7px}
#navigation{display:none}
}
</style>
</body></html>
