{{ header }} 
<main class="main-body order-successfull-container">

 <div class="row">
  <div class="col-12 col-sm-12 col-md-5">
    <div class="left">
      <img class="success-image" src="image/order-success.png" alt="Order Successfull">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-7 col-lg-7">
    <div class="right">
      <h1><i class="fa fa-heart"></i> Tack för din offertförfrågan</h1><br>
      Nu kontrollerar vi din förfrågan, skapar skiss och tar fram offert. Allt har du i din inkorg inom 4 timmar (vardagar 09-16).
      Vi förstår att du har mycket att göra men vi hoppas att du kan luta dig tillbaka en stund och ta en riktigt god kopp kaffe. Snart hörs vi igen och då är du ett steg närmare dina profilerade kläder!
      <br><br>
      Kommer du på någon fråga eller fundering innan vi hunnit återkomma så hör av dig till hej@profilewear.se.
      Vill du ta del av tips och se vad som händer hos oss under tiden finns vi på 
      <div class="mt-3">
        <a style="font-size:18px;padding:5px;" href="https://www.facebook.com/profilewear.se" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a> 
        <a style="font-size:18px;padding:5px;" href="https://www.instagram.com/profilewear.se/" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a> 
        <a style="font-size:18px;padding:5px;" href="https://www.linkedin.com/company/profilewear-se/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
      </div>

    </div>
  </div>
</div>
<script>

localStorage.removeItem('upload_files');
localStorage.removeItem('select_colors');
localStorage.removeItem('images');
localStorage.removeItem('message');
localStorage.removeItem('colorSelects');
</script>
{{ footer }}
