<div class="col-12 col-md-6 col-xl-4 search-result-item">
  <a href="{{ href }}">
    <div class="category-tag">
      <img src="{{ image }}" style="width:80px">
      <div class="right">
        <h5>{{ name }}</h5>
        <span>{{ product_count }} PRODUCTS</span>
      </div>
    </div>
  </a>
</div>