<style>
body {font-family: 'Trebuchet MS', sans-serif; font-size:12px;font-weight:normal;}
.container{max-width: 680px; margin:0 auto;}
.logotype{background:#000;color:#fff;width:75px;height:75px;  line-height: 75px; text-align: center; font-size:11px;}
.column-title{background:#eee;text-transform:uppercase;padding:15px 5px 15px 15px;font-size:11px}
.column-detail{border-top:1px solid #eee;border-bottom:1px solid #eee;}
.column-header{background:#d1eaf0;text-transform:uppercase;padding:15px;font-size:11px;border-right:1px solid #eee;}
.row{padding:7px 14px;border-bottom:1px solid #eee;}
.alert{background: #ffd9e8;padding:20px;margin:20px 0;line-height:22px;color:#333}
.socialmedia{background:#eee;padding:20px; display:inline-block}
</style>
<div class="container" style="max-width: 700px; margin:0 auto;">
    <table width="100%" style="background:#000;">
    <tr>
      <td width="100%">
<img src="https://profilewear.se/image/catalog/shop_information/e-mails/pw-logo-white-txt.png" style="height:30px;margin:10px 10px 7px 10px;">
        <a href="https://profilewear.se" style="float: right; color: #fff; text-decoration: none; margin-top: 15px; margin-right: 15px;">Besök Profilewear.se</a>
      </td>
      <td></td>
    </tr>
  </table> 
  <table width="100%" style="text-align:center;background:#d1eaf0;line-height: 20px;">
    <tr>
      <td>
        <br><br>
        <img src="https://profilewear.se/image/catalog/shop_information/e-mails/empji-party.png" width="40">
        <br>
        <br>
        <span style="font-size:22px;">Order är skickad #{{order_id}}
        </span>
        <br><br>
      </td>
    </tr>
  </table>
    
  <br>

  <div style="background:#fbddeb;padding:20px;">
    <span style="font-size:18px">Hej, Nu är din order packad och påväg till dig!</span><br><br>
    Nu är din order packad och påväg till dig!
    Beroende på budbilens hastighet, väder och vind har du din beställning inom 2-4 arbetsdagar.
    Om du har valt att betala med faktura skickas fakturan till dig i separat mail.<br><br>
    Vi hoppas att du får mycket glädje av din beställning och önskar dig en fortsatt fin dag!<br><br>
    Vid frågor maila oss på hej@profilewear.se eller svara på denna mail.    
  </div>  
  
  <br>
  <a href="#" style="color:#000">
    <div style="background:#EAEAEA;padding:10px;text-align:center;color:#000">Spåra mitt paket: #10000000</div>  
  </a>
  <br>
  <a href="#" style="color:#000">
    <div style="background:#EAEAEA;padding:10px;text-align:center;color:#000">Spåra mitt paket: #10000000</div>  
  </a>
  
  <div style="text-align:center;font-size:12px;">
    <br>
    Ingen tracking? Ibland kan det ta upp till 24 timmar innan det syns, så kolla igen om en stund.
    <br>
  </div>
  
  <br>

    
  <div style="background:#bee0de;padding:30px;font-size:11px;">
  <img src="https://profilewear.se/image/catalog/shop_information/e-mails/heart.png" width="40"><br><br>
    <span style="font-size:18px">Att tänka på!</span><br><br>
  
För att dina produkter ska hålla så länge som möjligt läs gärna våra skötselråd: <a href="https://profilewear.se/skotselrad" style="color:#000">profilewear.se/skotselrad</a><br><br>

    <strong>Avgift för ej uthämtade paket</strong><br>
För paket som inte hämtas ut från ombud debiterar vi en avgift på 199 kr. Avgiften motsvarar våra faktiska kostnader för returfrakt och hantering. Om du har ångrat dig när paketet har skickats från oss måste du först hämta ut paketet från ditt ombud och sedan skicka tillbaka det till oss.<br><br>

<strong>Retur/Reklamation</strong><br>
Alla returer måste anmälas på följande länk <a href="https://profilewear.se/retur-reklamation/" style="color:black">profilewear.se/retur-reklamation/</a> Observera att konsumenten bekostar returfrakten på egen hand vid nyttjande av ångerrätten. Ångerrätten inte inkluderar produkter som fått en personlig prägel, tex i form av profilering (tryck, brodyr etc) enligt kap:2, 11§ i distans- och hemförsäljningslagen.    
    
    
  </div>
  <br>
  
  <div style="background:#FDF2C3;padding:30px;font-size:11px;">
  <img src="https://profilewear.se/image/catalog/shop_information/e-mails/instagram.png" width="40"><br><br>
    <span style="font-size:18px">Tips & erbjudanden</span><br><br>
    <a style="color:#000;" href="https://linktr.ee/Profilewear.se">@profilewear.se</a>
  </div>
  <br>
  <div style="background:#fbddeb;text-align:center;">
      <br><br><small>Swedish Profile Wear AB / Telefon 010-551 88 60 / E-post <a href="mailto:hej@profilewear.se" style="color:#000;">hej@profilewear.se</a><br><span style="color:#000"><?php echo date('Y-m-d h:i A') ?></span></small> <br><br>
  </div>
</div>